.details{
  background-color: #EADCA6;
  font-family: "Ubuntu";
  font-weight: 400;
  padding: 2% 7%;
}
.icea{
  background-color: #D8B6A4;
  font-family: "Ubuntu";
  font-weight: 400;
  padding: 2% 7%;
}
.footer{
  text-align: center;
  padding: 2% 7%;
}
